<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_DIR">src/test/java/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="File" fileName="${sys:LOG_DIR}/automation.log" filePattern="${sys:LOG_DIR}/automation-%d{yyyy-MM-dd-HH-mm-ss}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="50000"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="Info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>